/* 
This is the styles sheet for all of the buttons found throughout the program.
Not nearly all of these styles are being use. This was initially created from a youtube tutorial I'll link here. https://www.youtube.com/watch?v=JfNjGLGaxR4
Then consecutive button styles were put together depending on need, etc. 
*/

:root {
	--primary: #4628ff;
	--warning: #ffd028;
	--danger: #eb3f27;
	--success: #75fa83;
	--white: #fdfdfd;
	--dark: #181717;
}

.btn {
	margin: 25px;
	font-family: 'Manrope', sans-serif;
	font-weight: normal;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	background-color: transparent;
	border: 2px solid var(--dark);
	color: var(--dark);
}

.btn2 {
	margin: 25px;
	font-family: 'Manrope', sans-serif;
	font-weight: normal;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	background-color: transparent;
	border: 2px solid var(--dark);
	color: var(--dark);
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #ff5c5c;
	color: white;
}

.btn2:hover {
	transform: translateY(-3px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #29cf63;
	color: white;
}

.limit {
	max-height: 35vh;
}
.logout {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	background-color: transparent;
	border: 2px solid var(--dark);
	color: var(--dark);
}

.thickFont {
	font-weight: 100;
}

/* Button Colors and Styling for it */

.btn--white--outline {
	background-color: transparent;
	border: 2px solid var(--white);
	color: var(--white);
}

.btn--primary--solid {
	background-color: var(--primary);
	color: var(--white);
	border: none;
}

.btn--warning--solid {
	background-color: var(--warning);
	color: var(--white);
	border: none;
}
.btn--danger--solid {
	background-color: var(--danger);
	color: var(--white);
	border: none;
}
.btn--success--solid {
	background-color: var(--success);
	color: var(--white);
	border: none;
}

.btn--primary--outline {
	background-color: transparent;
	border: 2px solid var(--primary);
	color: var(--primary);
}

.btn--warning--outline {
	background-color: transparent;
	border: 2px solid var(--warning);
	color: var(--warning);
}

.btn--danger--outline {
	background-color: transparent;
	border: 2px solid var(--danger);
	color: var(--danger);
}

.btn--success--outline {
	background-color: transparent;
	border: 2px solid var(--success);
	color: var(--success);
}

.btn--medium {
	height: 300px;
	width: 300px;
	font-size: 30px;
}

.btn--mediumSmall {
	height: 100px;
	width: 300px;
	font-size: 30px;
}

.btn--submit {
	height: 50px;
	width: 100px;
	font-size: 20px;
}
.btn--back {
	height: 100px;
	width: 150px;
	font-size: 30px;
}
.btn--small {
	font-family: 'Manrope', sans-serif;
	padding: 5px 10px;
	font-size: 12px;
}
.btn--tiny {
	font-family: 'Manrope', sans-serif;
	padding: 5px 10px;
	font-size: 10px;
}

.tar {
	text-align: right;
}

.adjustdown {
	position: relative;
	top: 100px;
}

.adjustright {
	position: relative;
	left: 100px;
}

.adjustleft {
	position: relative;
	right: 100px;
}

.buttonsAdjust {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
