/* 
This is the styles sheet for all of the buttons found throughout the program.
Not nearly all of these styles are being use. This was initially created from a youtube tutorial I'll link here. https://www.youtube.com/watch?v=JfNjGLGaxR4
Then consecutive button styles were put together depending on need, etc. 
*/

:root {
	--primary: #4628ff;
	--warning: #ffd028;
	--danger: #eb3f27;
	--success: #75fa83;
	--white: #fdfdfd;
	--dark: #181717;
	--clr-primary: #ee6352;
}

.btn {
	margin: 25px;
	font-family: 'Manrope', sans-serif;
	font-weight: normal;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	background-color: transparent;
	border: 2px solid var(--dark);
	color: var(--dark);
}

.btn2 {
	margin: 25px;
	font-family: 'Manrope', sans-serif;
	font-weight: normal;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	background-color: transparent;
	border: 2px solid var(--dark);
	color: var(--dark);
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #ff5c5c;
	color: white;
}

.btn2:hover {
	transform: translateY(-3px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: #29cf63;
	color: white;
}

.limit {
	max-height: 35vh;
}
.logout {
	font-family: 'Manrope', sans-serif;
	font-weight: 400;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	background-color: transparent;
	border: 2px solid var(--dark);
	color: var(--dark);
}

.thickFont {
	font-weight: 100;
}

.btn--medium {
	height: 300px;
	width: 300px;
	font-size: 30px;
}

.btn--mediumSmall {
	height: 100px;
	width: 300px;
	font-size: 30px;
}

.btn--submit {
	height: 50px;
	width: 100px;
	font-size: 20px;
}
.btn--back {
	height: 100px;
	width: 185px;
	font-size: 30px;
}
.btn--small {
	font-family: 'Manrope', sans-serif;
	padding: 5px 10px;
	font-size: 12px;
}
.btn--tiny {
	font-family: 'Manrope', sans-serif;
	padding: 5px 10px;
	font-size: 10px;
}

.btn--table {
	font-family: 'Manrope', sans-serif;
	font-weight: normal;
	border-radius: 10px;
	cursor: pointer;
	transition: transform 0.3s ease;
	background-color: transparent;
	border: 2px solid var(--dark);
	color: var(--dark);
	padding: 5px 10px;
	font-size: 14px;
}
.btn--table:hover {
	transform: translateY(-3px);
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.tar {
	text-align: right;
}

.adjustdown {
	position: relative;
	top: 100px;
}

.adjustright {
	position: relative;
	left: 500px;
}
.right {
	text-align: right;
}

.adjustleft {
	position: relative;
	right: 100px;
}

.buttonsAdjust {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.hide {
	display: none;
}

/* css for the search bar starts here*/

.wrapper {
	position: relative;
}

.container {
	position: relative;
	padding: 10px 30px;
}
.table-text {
	font-weight: normal;
	font-size: 20px;
}

.input {
	border: 2px solid #000000;
	height: 40px;
	width: 300px;
	border-radius: 50px;
	padding: 0px 10px;
	outline: none;
}
