<html>
    <head>
        <meta charset="utf-8">
        <title>Fire Extinguisher Inspection Form</title>
    </head>
    <body>
        <h1>Fire Extinguisher Inspection Form</h1>
        <p>Test Date: {{fei.date_tested}}</p>
        <p>Performed By: {{fei.tester}}</p>
        <hr>
        <br>
        <h2>Tests Performed: </h2>
        <p>Ionization and/or Photo Electric Detectors: {{fei.ionization_test}}</p>
        <p>Thermal (Heat Detectors): {{fei.heat_detector_test}}</p>
        <p>Manual Pull Stations: {{fei.manual_pull_station_test}}</p>
        <p>Lamp Test: {{fei.lamp_test}}</p>        
    </body>
</html>

{% comment %} https://www.youtube.com/watch?v=J3MuH6xaDjI ~28 minutes for img{% endcomment %}