<html>
    <head>
        <meta charset="utf-8">
        <title>Fire Pump Report</title>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: separate;
              padding-top: 4px;
              font-size: large;
            }
            th, td {
              padding-left: 3px;
            }
            .inlineLeft {
              font-size: 160%;
            }
            .inlineRight {
              font-size: 160%;
              text-align: right;
            }
            </style>
    </head>
    <body>
        <div>
            <h1 style="font-size:450%; padding-bottom: 0px; margin-bottom: 0px; border-bottom: 0px;">Fire Pump Report</h1>
        </div>
        <div style="padding-top: 10px;">
            <p style="font-size:160%; display: inline;">Location: </p>
            <p style="font-size:160%; display: inline; font-weight: bold;">{{building.name}}</p>
        </div>
            <p class="inlineRight">  {% now "F jS Y" %}</p>
        <hr>
        <br>
        <h2 style="font-size:300%; margin-top: 8px;">Inspections Performed </h2>
        <table style="padding: 2px;">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Latest</th>
                    <th>Suction Pressure (PSI)</th>
                    <th>Discharge Pressure (PSI)</th>
                    <th>Run Time (min)</th>
                    <th>Upcoming</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Monthly</td>
                    <td>{{pump.last_monthly_inspection}}</td>
                    <td>{{attributes.monthlyS}}</td>
                    <td>{{attributes.monthlyD}}</td>
                    <td>{{attributes.monthlyR}}</td>
                    <td>{{pump.upcoming_monthly_inspection}}</td>
                </tr>
                <tr>
                    <td>Annual</td>
                    <td>{{pump.last_annual_inspection}}</td>
                    <td>{{attributes.annualS}}</td>
                    <td>{{attributes.annualD}}</td>
                    <td>{{attributes.annualR}}</td>
                    <td>{{pump.upcoming_annual_inspection}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <hr>
        <br>
        <h2 style="font-size:300%; margin-top: 8px; margin-bottom: 0px; border-bottom: 0px;">Notes </h2>
        <ol>
            {% for note in notes %}
                <li style="font-size:160%; padding-left:30px;">{{ note.note }}</li>
            {% endfor %}
        </ol>
    </body>
</html>