<html>
    <head>
        <meta charset="utf-8">
        <title>AED Inspection Form</title>
    </head>
    <body>
        <h1 style="font-size:300%;">AED Inspection Form</h1>
        <p style="font-size:160%; padding-left:30px;">Test Date: {{aed.date_tested}}</p>
        <p style="font-size:160%; padding-left:30px;">Performed By: {{aed.tester}}</p>
        <hr>
        <br>
        <h2 style="font-size:300%;">Tests Performed: </h2>
        <p style="font-size:160%; padding-left:30px;">Voltage Test: {{aed.voltage_test}}</p>     
        {% comment %} <img src="C:\Users\abram\Pictures\wsu.jpg"> {% endcomment %}
    </body>
</html>

{% comment %} https://www.youtube.com/watch?v=J3MuH6xaDjI ~28 minutes for img{% endcomment %}